:root{
--red-primary:#fe7867;
--yellow-primary: #fad400;
--graphic-text: #25564b;
--photography-text:#19536b;
--footer:#99d9c9;
--grey-950: #23303e;
--grey-600: #5a636c;
--grey-550:#818498;
--grey-400: #a7abae;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    Font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

.img-fit{
        object-fit: cover;
    width: 100%;
    height: 100%;
}
/* hero */
.hero{
    background-image: url(/images/desktop/image-header.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    background-position: center;
    display: flex;
    flex-direction: column;
     padding: 1em 2em;
    background-repeat: no-repeat;
}
/* header */
header{
    padding-top: 1.5em;
    justify-content: space-between;
    position: relative;
}
.triangle{
    display: none;
    position: absolute;
    right: 0;
    top: 82px;
    width: 0;
    height: 0;
    border-bottom: 40px solid white;
    border-left: 40px solid transparent;
}
header .logo img{
    height: 35px;
         object-fit: cover;
}
header .nav{
    flex:1;
    justify-content: end;
    gap:4em;    display: flex;
    align-items: center;
}
header  li:not(li.contact):hover{
    text-decoration: underline;
}
header  li{
    cursor: pointer;
}
header .nav li.contact{
    background-color: white;
    color: black;
    padding: .8em 1.5em;
    border-radius: 25px;
    font-weight: 600;
    transition: all 0.5s;
}
header .nav li.contact:hover{
background-color: rgba(255, 255, 255, 0.468);
color: white;
}
    .nav-mobile{
        display:none;
        align-items: center;
        justify-content: center;
        gap:1.5em;
        padding: 2em 0;
        flex-direction: column;
        position: absolute;
        width: 100%;
        left: 0;
        top: 120px;
        background-color: white;
        color: var(--grey-400);
    }
.nav-mobile .contact {
    background-color: var(--yellow-primary); 
    color: black;
    padding: 0.8em 1.5em;
    border-radius: 25px;
    font-weight: 600;
    transition: background 0.5s ease; 
}

.nav-mobile .contact:hover {
    background-color: #fad40075; 

}

.fa-bars{
    font-size: 1.8em;
    display: none;
    cursor: pointer;
}

/* content */
.hero .content{
    flex: 1;
    text-align: center;
gap: 4.5em;
padding-top: 4.5em;
flex-direction: column;
}
.hero .content h1{
    font-size: 3.5em;
    font-weight: 800;
 text-transform: uppercase;
}
/* ================================== */
/* about */
.about{
    display: flex;
    flex-direction: column;
}
.about .container{
    display: flex;
    flex-wrap: wrap;
}
.about .container div{
    flex-basis: 50%;
}

.about .container .text{
    
    padding: 4em 0;
        color: var(--grey-950);
}
.text div{
    width: 65%; 
    margin: 0 auto;
    display: flex;
    gap: 2em;
    justify-content: center;
    flex-direction: column;
}

.text h2{
    font-size: 2.5em;
    font-weight: 800;
}
.text h3{
    line-height: 1.5em;
    color: var(--grey-550)
}
.text a{
   font-weight: 800;
       color: var(--grey-950);
      cursor: pointer;
    width: fit-content;
     margin-left: 0.4em;
       position: relative;
}
.text a::after{
    position: absolute;
    content: '';
    height: 6px;
    border-radius: 25px;
    width:110%;
    z-index: -1;
    bottom: 1px;
    left: -4px;
   
}
.text a.red::after {
    background-color: hsl(7 99% 70% / 0.35);
    transition:all 0.5s;  
}

.text a.yellow::after {
    background-color: hsl(51 100% 49% / 0.35);
    transition:all 0.5s;            
}
.text a:hover.red::after {
    background-color: hsl(7 99% 70% / 0.7);
}

.text a:hover.yellow::after {
    background-color: hsla(51, 100%, 49%, 0.7);
}

.graphic-design,.photography
{
    position: relative;
    min-height: 80vh;
}

.graphic-design div,.photography div{
    position: absolute;
    bottom: 20px;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 55%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.graphic-design div{
color: var(--graphic-text);
}
.photography div{
color: var(--photography-text);
}
.graphic-design h2,.photography h2{
font-weight: 600;
font-size: 2em;}
/* =============================== */
/* gallery */
.gallery{
    display: flex;
      margin: 0;
  padding: 0;
}
.gallery div{
    flex: 1 0 25%; 
  overflow: hidden;
  margin: 0;
}
.gallery div img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}
/* ============================= */
/* testimonials */
.testimonials{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    padding: 3em 0;
    justify-content: space-evenly;
    background-color: white;
}
.testimonials h2{
    font-weight: 800;
    color:var(--grey-400);
   letter-spacing: .1em;
   margin-bottom: 1.2em;
   text-transform: uppercase;
}
.testimonials .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0 auto;
    padding: 0 1em;
}
.testimonials .container .card{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    gap: 3em;
}
.testimonials .container .card img{
    border-radius: 50%;
    width: 100px;
} 
.testimonials .container .card > p{
    color: var(--grey-600);
    width: 80%;
    font-weight: 600;
}
.testimonials .container .card div{
    display: flex;
    flex-direction: column;
    gap: .5em;

}
.testimonials .container .card div h3{
    font-weight: 800;
    color: var(--grey-950);
}
.testimonials .container .card div p{

    color: var(--grey-400);
}
/* ============================= */
/* footer */
footer{
    background-color: var(--footer);
    justify-content: center;
    gap: 2em;
    padding: 4em 2em;
    flex-direction: column;
}
footer ul{
    display: flex;
     gap:2em;
     color: var(--graphic-text);
}
footer ul:first-of-type{
    margin-bottom: 3em;
}
footer ul li{
  transition: all 0.5s;
}
footer ul li:hover{
  color: white;
  cursor: pointer;
}
/* responsive */
@media screen and (max-width:640px) {
    .hero{
        height: 70vh;
    }
    .fa-bars{
        display: block;
    }

    header ul.nav{
flex-direction: column;
display: none;
    }

    .about .container:first-child{
    flex-direction: column-reverse;
}
   .about .container div{
    flex-basis: 100%;
   }
   .text div{
    padding: 0 1em;
   }
   .graphic-design,.photography
{
    height: 80vh;
}
   .graphic-design div,.photography div
{
width: 100%;
padding: 0 1em;
}
.testimonials .container{
    gap: 4em;

}
.testimonials .container .card{
    flex-basis: 100%;
}
.gallery{
  flex-wrap: wrap;
}
.gallery div{
     flex: 1 0 50%; 
}
}